<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Usuario</title>
</head>
<body>
    <h1>Editar Usuario</h1>
    <form action="{{ url_for('auth.edit', id=user.idUser) }}" method="post">

        <label for="correoUser">Correo electronico:</label>
        <input type="text" id="correoUser" name="correoUser" value="{{ user.correoUser }}" required>

        <label for="nameUser">Nombre:</label>
        <input type="text" id="nameUser" name="nameUser" value="{{ user.nameUser }}" required>

        <label for="passwordUser">Contraseña:</label>
        <input type="password" id="passwordUser" name="passwordUser" value="{{ user.passwordUser }}" required>

        <label for="telefonoUser">WhatsApp</label>
        <input type="text" id="telefonoUser" name="telefonoUser" value="{{ user.telefonoUser }}" required>

        {% if current_user.rolUser in ['cliente', 'vendedor'] %}
        <label for="rolUser">Rol:</label>
        <select name="rolUser" id="rolUser">
            <option value="cliente" {% if user.rolUser == 'cliente' %} selected {% endif %}>Cliente</option>
            <option value="vendedor" {% if user.rolUser == 'vendedor' %} selected {% endif %}>Vendedor</option>
        </select>
        {% endif %}

        <button type="submit">Actualizar Usuario</button>
        <a href="{{ url_for('productos.index') }}" id="enlace">Regresar</a>
    </form>
</body>
</html>